// Place your settings in this file to overwrite the default settings
{
    "breadcrumbs.enabled": true,
    "editor.minimap.enabled": false,
    "editor.renderIndentGuides": true,
    "editor.renderControlCharacters": true,
    "editor.renderWhitespace": "all",
    "editor.showFoldingControls": "always",
    "editor.tabSize": 2,
    "editor.wordWrap": "on",
    "explorer.autoReveal": false,
    "explorer.confirmDelete": false,
    "explorer.confirmDragAndDrop": false,
    "extensions.autoUpdate": true,
    "files.associations": {
        "DIFFS": "diff"
    },
    "files.trimTrailingWhitespace": true,
    "git.suggestSmartCommit": false
    "go.formatTool": "goimports",
    "python.linting.pylintEnabled": true,
    "shellcheck.disableVersionCheck": true,
    "shellcheck.run": "onSave",
    "swaggerViewer.defaultPort": 62123,
    "telemetry.enableCrashReporter": false,
    "telemetry.enableTelemetry": false,
    "terminal.integrated.fontFamily": "MesloLGS NF",
    "terminal.integrated.fontSize": 13,
    "terminal.integrated.shell.linux": "/usr/bin/zsh",
    "window.titleBarStyle": "custom",
    "window.zoomLevel": 0,
    "workbench.colorTheme": "Monokai",
    "workbench.colorCustomizations": {
        "terminal.background":"#1D2021",
        "terminal.foreground":"#A89984",
        "terminalCursor.background":"{{ terminal.cursor.color }}",
        "terminalCursor.foreground":"{{ terminal.cursor.color }}",
        "terminal.ansiBlack":"#1D2021",
        "terminal.ansiBlue":"#0D6678",
        "terminal.ansiBrightBlack":"#665C54",
        "terminal.ansiBrightBlue":"#0D6678",
        "terminal.ansiBrightCyan":"#8BA59B",
        "terminal.ansiBrightGreen":"#95C085",
        "terminal.ansiBrightMagenta":"#8F4673",
        "terminal.ansiBrightRed":"#FB543F",
        "terminal.ansiBrightWhite":"#FDF4C1",
        "terminal.ansiBrightYellow":"#FAC03B",
        "terminal.ansiCyan":"#8BA59B",
        "terminal.ansiGreen":"#95C085",
        "terminal.ansiMagenta":"#8F4673",
        "terminal.ansiRed":"#FB543F",
        "terminal.ansiWhite":"#A89984",
        "terminal.ansiYellow":"#FAC03B"
    },
    "workbench.iconTheme": "material-icon-theme",
    "workbench.startupEditor": "newUntitledFile",
    "workbench.statusBar.visible": true,
    "workbench.tree.indent": 16,
}
