{{ ansible_managed | comment }}

[user]
name = {{ firstname|title }} {{ lastname|upper }}
email = {{ email }}

[core]
editor = vim

[github]
user = {{ githubuser }}

[color]
diff = always

[color "diff"]
meta = yellow
rag = magenta
hitespace = red

[alias]
lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %Cblue<%an>%Creset' --abbrev-commit --date=relative --all
co = checkout
cp = cherry-pick
last = log -1 --stat

[default]
default = matching
