{
    "background-color": "{{ terminal.background.color }}",
    "badge-color": "#FFFFFF",
    "bold-color": "#FFFFFF",
    "comment": "",
    "cursor-background-color": "{{ terminal.cursor.color }}",
    "cursor-foreground-color": "#000000",
    "foreground-color": "{{ terminal.foreground.color }}",
    "highlight-background-color": "#000000",
    "highlight-foreground-color": "#FFFFFF",
    "name": "dotfiles",
    "palette": [
        "{{ terminal.palette[0] }}",
        "{{ terminal.palette[1] }}",
        "{{ terminal.palette[2] }}",
        "{{ terminal.palette[3] }}",
        "{{ terminal.palette[4] }}",
        "{{ terminal.palette[5] }}",
        "{{ terminal.palette[6] }}",
        "{{ terminal.palette[7] }}",
        "{{ terminal.palette[8] }}",
        "{{ terminal.palette[9] }}",
        "{{ terminal.palette[10] }}",
        "{{ terminal.palette[11] }}",
        "{{ terminal.palette[12] }}",
        "{{ terminal.palette[13] }}",
        "{{ terminal.palette[14] }}",
        "{{ terminal.palette[15] }}"
    ],
    "use-badge-color": false,
    "use-bold-color": false,
    "use-cursor-color": true,
    "use-highlight-color": false,
    "use-theme-colors": false
}