{{ ansible_managed | comment('cblock') }}

/* #Main is the Tilda window. */
GtkWindow#Main .notebook {
  border-top: 0 !important;
  border-right: 5px !important;
  border-bottom: 5px !important;
  border-left: 5px !important;
  border-color: #fff !important;
}
