{{ ansible_managed | comment('cblock') }}

GtkBox {
    background-color: #000;
}

notebook > header {
  background-color: {{ terminal.tab.inactive.background | rgba(100) }};
  border: none;
}

notebook > header > tabs > tab {
  background-color: {{ terminal.tab.inactive.background | rgba(50) }};
  border-radius: 0;
  color: {{ terminal.foreground.color | rgba(80) }};
  border: 0;
  margin: 0 1px;
  border-width: 0 1px;
  min-width: 100px;
  box-shadow: none;
}

notebook > header > tabs > tab:checked {
  background-color: {{ terminal.tab.active.background }};
  color: {{ terminal.foreground.color }};
}
