{{ ansible_managed | comment }}
# See https://www.gnu.org/software/gettext/manual/html_node/Locale-Environment-Variables.html#Locale-Environment-Variables
LANGUAGE=
LC_ALL=en_US.UTF-8
LC_CTYPE=C.UTF-8
LC_NUMERIC=fr_FR.UTF-8
# Do not use fr_FR.UTF-8 to get date/time in english
# Do not use en_US.UTF-8 to get 24h time
LC_TIME=en_GB.UTF-8
LC_COLLATE=C.UTF-8
LC_MONETARY=fr_FR.UTF-8
LC_PAPER=fr_FR.UTF-8
LC_NAME=fr_FR.UTF-8
LC_ADDRESS=fr_FR.UTF-8
LC_TELEPHONE=fr_FR.UTF-8
LC_MEASUREMENT=fr_FR.UTF-8
LC_IDENTIFICATION=fr_FR.UTF-8
LANG=en_US.UTF-8
