[General]
Once=true
Startup=true
clocks_notification=true
currentFolder_index=2
current_page=0
de=0
delay=3600
first-run=false
first_timeout=false
from_combo=1
history=false
icon_style=true
images_changed=7231
independent_interval_enabled=true
language=0
language_file=en
last_opened_folder={{ homedir }}/Pictures/Backgrounds
notification=false
osname=Ubuntu
potd_include_description=true
potd_preferences_have_changed=true
preview_images_on_screen=true
random_images_enabled=true
random_time_enabled=false
random_time_from=120
random_time_to=1800
rotation=false
seconds_left_interval_independence=p.0.2020:04:21:11:55:53
shortcut=
startup_timeout=60
theme=ambiance
till_combo=1
timeSlider=7
times_launched=0
unity_progressbar_enabled=true
use_shortcut_next=false
website_extra_passwords=
website_extra_usernames=
website_java_enabled=false
website_js_can_read_clipboard=false
website_js_enabled=true
website_load_images=true
website_simple_auth=false
website_wait_after_finish=3

[pictures_locations]
1\item={{ homedir }}/Pictures/Backgrounds
size=1
